{% extends "base-generic.html" %}

{% block content %}

<div class='style'>
	<h1>Animal Detail for {{ animal.name }} ({{ animal.id }}) in {{ animal.exhibit.zoo.name }}</h1>

{% load static %}

	<img src="{% static animal.imageFileName %}" style='height:200px'>

	<h3>Habitat:</h3>
	<p>{{ animal.habitatDescription }}</p>

	<h3>Diet:</h3>
	<p>{{ animal.dietDescription }}</p>
{% if animal.behaviorDescription != blank %}
	<h3>Behavior:</h3>
	<p>{{ animal.behaviorDescription }}</p>
{% endif %}
	
{% if animal.livingPeriod != blank %}	
	<h3>Living Period:</h3>
	<p>{{ animal.livingPeriod }}</p>
{% endif %}

{% endblock %}
</div>

