body {
	background-image: url('../images/zoobkgrnd.jpg');
	text-align: center;
}

.styles {
	color: black;
	text-align: center;
	font-size: 1.3em;
	padding: 10px;
}

p {
	color: rgb(5,234,216);
}

.staticBar {
	display: flex;
}

.inline {
	padding: 10px;
}

.btn {
	border-radius: 20px;
	border: 3px solid rgb(42,2,137);
	background-color: rgb(42,2,137);
	font-weight: bolder;
	font-size: 1.3em;
}

h1 {
	font-weight: bolder;
	font-size: 1.7em;
	color: rgb(229,197,0);
}

h3, h2 {
	font-weight: bolder;
	font-size: 1.5em;
	color: rgb(84,52,160);
}

img {
	opacity: 0.9;
	border-radius: 15px;
}

a {
	color: rgb(5,234,216);
}

a:hover {
	color: rgb(187,4,18);
}

li {
	color: rgb(84,52,160);
}

label {
	padding: 20px;
	color: rgb(6,212,10);
}

input, textarea {
	border: 2px solid black;
}
