body {
	background-image: url('../images/zoobkgrnd.jpg');
	text-align: center;
}

.styles {
	color: black;
	text-align: center;
	font-size: 1.3em;
	padding: 10px;
}

p {
	color: rgb(5,234,216);
}

.staticBar {
	display: flex;
}

.inline {
	padding: 10px;
}

h1 {
	font-weight: bolder;
	font-size: 1.7em;
	color: rgb(2,137,42);
}

h3, h2 {
	font-weight: bolder;
	font-size: 1.5em;
	color: rgb(42,2,137);
}

img {
	opacity: 0.9;
	border-radius: 15px;
}

a {
	color: rgb(5,234,216);
}

a:hover {
	color: rgb(187,4,18);
}
